/bin/
/dist/
/clients/typescript/dist/
/target/
/bench/rust/target/
/clients/rust/target/
*.test
/docs/perf-raw/
/tests/interfaces/rust/target/

/node_modules/
/clients/typescript/node_modules/
/vendor-php/
/docs/.vitepress/cache/
/docs/.vitepress/dist/
/.runtime/
